<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Scoreboard Homepage</title>
  </head>
  <body>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Options</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'new_score' %}">Enter New Score</a>
          <a class="dropdown-item" href="#">Edit Scores</a>
          <a class="dropdown-item" href="#">View Complete History</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'rolled' %}">Have you ever...</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About the Guild</a>
      </li>

    </ul>

    <H1>Longbow Leaderboard</H1>

    <H2>High Scores</H2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
    {% for score in scores.all %}

    {{score.date_pretty}} {{score.name}} {{score.score}}

    <br />
    <br />

    {% endfor %}

    <!--<form action="{% url 'new_score' %}">-->
    <!--    <input type="submit" value="Enter new score">-->

    <!--</form>-->

    <br />
    <br />

    <!--<a href="{% url 'rolled' %}">Have you ever...</a>-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <title>Scoreboard Homepage</title>-->

<!--    </head>-->
<!--    <body>-->
<!--        <H1>Longbow Leaderboard</H1>-->

<!--        <H2>High Scores</H2>-->

<!--        {% for score in scores.all %}-->

<!--        {{score.date_pretty}} {{score.name}} {{score.score}}-->

<!--        <br />-->
<!--        <br />-->

<!--        {% endfor %}-->

<!--        <form action="{% url 'new_score' %}">-->
<!--            <input type="submit" value="Enter new score">-->

<!--        </form>-->

<!--        <br />-->
<!--        <br />-->

<!--        <a href="{% url 'rolled' %}">Have you ever...</a>-->

<!--    </body>-->

<!--</html>-->